beautifulsoup4==4.8.0
mysqlclient==1.4.6
nltk==3.4.5
nodeenv==1.4.0
numpy==1.16.5
numpydoc==0.9.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
requests==2.22.0
requests-oauthlib==1.2.0
selenium==3.141.0
virtualenv==20.0.27
Werkzeug==0.16.0
gunicorn==19.4.5
APScheduler==3.6.3
pickleshare==0.7.5
pandas==0.25.1